@import 'variables';
@import 'mixins';

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-size: 12pt;
    background-color: rgb(37, 37, 37);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    background-color: rgba(255, 255, 255, 0.1);

}
.header-container {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-title {
    font-size: 2em;
}
.watch {
    font-size: 1.5em;
}
main {
    overflow: auto;
    flex-grow: 1;
}
.list-wrapper {
    margin: 10px auto;
    width: 60%;

}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .list-row {
        padding: 10px 20px 10px 10px;
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        gap: 20px;
        align-items: center;
        border-radius: 5px;
        cursor: default;
        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
        .todo-button {
            padding: 5px 20px;
            background: rgb(133, 202, 101);
            border-radius: 3px;
            font-size: 1.4em;
            color: lightgrey;
            cursor: pointer;
            border: none;
            height: 100%;
            transition: color 0.2s;
            &:hover {
                background: rgb(105, 160, 80);
            }
        }
        .todo-title {
            flex-grow: 1;
        }
        .todo-started {
            span {
                color: darkgrey;
            }
        }
        .todo-finishby {
            span {
                margin-left: 5px;
                color: darkgrey;
            }
        }
        .todo-prio {
            span {
                margin-left: 5px;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }
}
.active-list {
    .list-row {
        &:hover {
        }
        .todo-button {
            background-color: rgba(255,255,255,0.1);
            &:hover {
                background-color: rgba(255,255,255,0.2);   
            }
        }
    }
}
.finished-list {
    .list-row {
        background-color: rgba(0, 0, 0, 0.3);
        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }
        .todo-button {
            background: rgb(133, 202, 101);
            &:hover {
                background: rgb(105, 160, 80);
            }
        }
    }
}

.prio-1 {
    color: $prio1;
}

.prio-2 {
    color: $prio2;
}

.prio-3 {
    color: $prio3;
}

footer {
    height: 75px;
    grid-column: 1/4;
    background-color: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
}
.footer-content {
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
    button {
        margin: 10px 0;
        color: white;
        background-color: rgba(161, 44, 44, 1);
        border: none;
        border-radius: 5px;
        font-size: 1em;
        font-weight: bold;
        padding: 0 10px;
        i {
            font-size: 1.2em;
        }
        &:hover {
            background-color: rgba(161, 44, 44, 0.8);
            cursor: pointer;
        }
    }


}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(88, 88, 88);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(53, 53, 53);
}